<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <decorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMask>
                    <value>\b(\d{6})\d{5}\b</value>
                    <mask>$1*****</mask>
                </valueMask>
            </decorator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="json"/>
    </root>

</configuration>
